header {
  background-color: #cccccc;
  height: $header_height;
  padding: 20px;
  color: white;

  img {
    &.logo {
      animation: animation_spin infinite 20s linear;
      height: 80px;
    }
  }

}
