span.tags {
  padding: 3px 5px 5px;
  border: 1px solid;
  margin-right: 10px;
  margin-bottom: 5px;
  display: inline-block;
  cursor: pointer;
}

a {
  color: inherit;
  :hover {
    color: inherit;
  }
}
