@import "../base/variables";

#body.logoLoaded #home footer {
  z-index: 0;
}

#body.fixed #home footer {
  z-index: -1;
}

footer {
  background: $soft-gray;
  color: $dark-gray !important;
  margin-bottom: 45px; // offset search
  padding-top: 50px;
  padding-bottom: 50px;
  @media screen and (min-width: 992px) {
    position: fixed;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  align-items: center;

  .row {
    align-items: center;
  }

  img {
    max-width: 50vw;
    max-height: 100px;
    @media screen and (min-width: 768px) and (max-width: 992px) {
      max-width: 200px;
    }
  }

  .btn-link, a {
    color: $dark-gray !important;
    transition: color 0.5s;
    margin: 0 auto;
    @media screen and (min-width: 992px) {
      margin: unset;
    }
    &:hover {
      color: $dark-green !important;;
    }
  }
}
