@import "../base/variables";

html, body {
  min-height: 100vh;
  background: $soft-gray;
  color: $soft-gray;

  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Recta W01 Regular', sans-serif;
}

h1 {
  font-size: 40px;
}
