.dropzone {
  background-color: #c3e6cb;
  div {
    cursor: pointer;
  }
  ul {
    &.previewItems {
      padding: 0;
      li{
        list-style: none;
        display: inline-block;
        width: 20%;
        min-width: 165px;
        vertical-align: top;
        margin: .7em;
        img{
          width: 100%;
        }
      }
    }
  }
}
