@import '../base/variables';

.history {
  .historyEntity {
    display: inline-flex;
    flex-direction: row;
    margin-top: 1rem;
    cursor: pointer;

    &:last-child {
      cursor: default;
      pointer-events: none;
    }

    .historyEntityTitle {
      width: 100%;
      max-width: 200px;
      padding: 0 0.5rem;
      background: $dark-blue;
      border: 1px solid white;
      color: #fff;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .historyEntityArrow {
      align-items: center;
      width: 3rem;
      text-align: center;
    }
  }
}
