@import '../base/variables';

.history {
  margin-bottom: 1rem;

  .historyEntity {
    display: inline-flex;
    flex-direction: row;
    cursor: pointer;

    &:first-child {
      .historyEntityTitle {
        color: #328C94;
        margin-left: 0;
      }
    }

    &:last-child {
      margin-left: 0.5rem;
      cursor: default;
      pointer-events: none;

      .historyEntityTitle {
        margin: 0;
        padding: 0 0.5rem;
        border: 1px solid white;
        color: #B2C1C6;
      }
    }

    .historyEntityTitle {
      width: 100%;
      max-width: 190px;
      height: 2rem;
      margin: 0 0.5rem;
      background: $dark-blue;
      color: #7EACB2;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 12px;
      font-weight: 600;
      line-height: 2rem;
    }

    .historyEntityIcon {
      display: inline-block;
      margin-right: 0.5rem;

      .collection_in_collection_icon, .collection_icon {
        width: 18px;
        height: 18px;
        vertical-align: text-top;

        g {
          fill: currentColor;
        }
      }
    }

    .historyEntityArrow {
      align-items: center;
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
      color: #787C80;

      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}
