@import '../base/variables';

// Styles to help the logo animation.
#body {
  &.fixed {
    max-height: 100vh;
    height: 100vh;
    background: #fff;
    overflow: hidden;
  }
  &.logoLoaded {
    #home {
      #header {
        height: auto;
        transform: translate3d(0,0,0);
      }
    }
  }
}

#home, #homePageModal {
  .dot {
    line-height: 0;
    font-size: 5px;
    margin: 0 10px;
  }

  .d-flex.title-wrapper {
    overflow: hidden;
    .creators, .title {
      max-width: 45%;
    }
    span.ellipsis {
      text-transform: capitalize;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
      display: inline-block;
    }
    .title {
      flex: 1 1 50%;
    }
  }
}

#home {
  min-height: 100vh;

  .d-flex.title-wrapper {
    flex-wrap: wrap;
  }

  #main {
    overflow: hidden;
    margin-top: 25px;
    padding-bottom: 100px;
  }

  #header {
    margin-bottom: 10px;
    height: 0;
    padding-bottom: 40px;
    background: $dark-blue;
    transform: translate3d(0,-60vw,0);
    transition: transform .5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .item {
    position: relative;
    cursor: pointer;
    a {
      color: #fff;
      &:visited, &:focus {
        color: #fff;
      }
    }

    .d-flex.title-wrapper .title {
      flex: 1 1 auto;
      span {

      }
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      top: 0;
      left: 0;

      .bottom {
        font-family: "Recta W01 Regular", sans-serif;
        font-size: 20px;

        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 100%;
      }
      .type {
        font-size: 20px;

        position: absolute;
        top: 20px;
        left: 20px;
      }
      .duration {
        font-size: 15px;

        position: absolute;
        top: 20px;
        right: 20px;
      }
      .playButton {
        line-height: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        transform: translate(-50%, -50%);
      }
    }

    .file {
      position: relative;
      text-align: center;
      // PDF file constraints
      .react-pdf__Page__canvas {
        max-width: 100% !important;
        height: auto !important;
      }
    }
  }
}

#homePageModal {
  &.fullwidth {
    max-width: 98vw;
    overflow: hidden;
  }

  .modal-content {
    background-color: $dark-blue;
    border: none;
    border-radius: 0;
    overflow: hidden;

    height: calc(100vh - (0.5rem * 2));
    @media (min-width: 576px) {
      height: calc(100vh - (1.75rem * 2));
    }

    .header {
      background: $dark-blue;
      padding: 15px 15px;

      a.gray {
        color: $soft-gray;
        font-family: 'Roboto Mono', sans-serif;
        font-size: 14px;
        opacity: .5;
        &.openButton {
          line-height: 1.2;
          display: inline-block;
          margin-right: 10px;
          font-size: 17px;
        }

        &:hover {
          opacity: 1;
        }
      }

      .closeButton, .openButton {
        cursor: pointer;
      }
    }

    .info {
      overflow-y: scroll;
      height: 100%;
      overflow-x: hidden;
      padding: 0 15px;

      .file {
        flex: 1 0;
        overflow: hidden;
        .background {
          filter: blur(6px);
          z-index: -1;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
        }

        .video {
          z-index: 0
        }
        .image {
          z-index: 0;
          img {
            max-height: 100%;
            z-index: 1;
          }
        }
      }

    }

    .body {
      padding: 15px 15px;
      font-family: 'Roboto Mono', sans-serif;

      .tags {
        color: $soft-blue;
      }
    }
  }
}
