@import '../base/variables';

#body {
  &.fixed {
    max-height: 100vh;
    height: 100vh;
    background: #fff;
    overflow: hidden;
  }
  &.logoLoaded {
    #home {
      #header {
        transform: translate3d(0,0,0);
      }
    }
  }
}

#home {
  color: #fff;
  #header {
    background: $dark-blue;
    min-height: 100vh;

    transform: translate3d(0,-60vw,0);
    transition: transform .5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }


  .item {
    position: relative;
    a {
      color: #fff;
      &:visited, &:focus {
        color: #fff;
      }
    }
    .title {
      font-family: "Recta W01 Regular", sans-serif;
      font-size: 20px;

      position: absolute;
      bottom: 20px;
      left: 20px;
    }
    .type {
      font-family: "Recta W01 Regular", sans-serif;
      font-size: 20px;

      position: absolute;
      top: 20px;
      left: 20px;
    }
  }
}
