@import '../base/variables';

// Styles to help the logo animation.
#body {
  &.fixed {
    max-height: 100vh;
    height: 100vh;
    background: #fff;
    overflow: hidden;
  }
  #home {
    position: relative;
    z-index: 15;
  }
  &.logoLoaded {
    #home {
      z-index: unset;
      #header {
        height: auto;
        margin-bottom: 10px;
        padding-bottom: 40px;
        transform: translate3d(0,0,0);
      }
    }
  }
}

#home, #homePageModal {
  color: $soft-gray;

  .dot {
    line-height: 0;
    font-size: 5px;
    margin: 0 10px;
  }

  .d-flex.title-wrapper {
    //overflow: hidden;
    font-size: 20px;
    .creators, .title {
      max-width: 95%;
      width: 95%;
      @media screen and (min-width: 768px) {
        width: auto;
        max-width: 45%;
      }
    }
    span.ellipsis {
      text-transform: capitalize;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
      display: inline-block;
    }
    .title {
      flex: 1 1 50%;
    }
  }
}

#home {
  min-height: 100vh;

  a {
    color: #fff;
  }

  .loginButton.btn-link {
    transition: color 0.5s;
    span {
      margin-right: 10px;
    }
    &:hover {
      color: $dark-green
    }
  }

  .d-flex.title-wrapper {
    flex-wrap: wrap;
  }

  #main {
    overflow: hidden;
    margin-top: 25px;
    //padding-bottom: 100px;
  }

  .highlights {
    .audioPreview {
      height: 100px;
    }
  }

  #header {
    height: 0;
    background: $dark-blue;
    transform: translate3d(0,-60vw,0);
    transition: transform .5s cubic-bezier(0.22, 0.61, 0.36, 1);

    .file {
      cursor: pointer;
      position: relative;
      .middle {
        line-height: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        transform: translate(-50%, -50%);
      }
    }
  }

  .announcement {
    .title {
      font-size: 18px;
      @media screen and (min-width: 768px) {
        font-size: 20px;
      }
    }
    .description {
      font-size: 14px;
      @media screen and (min-width: 768px) {
        font-size: 16px;
      }
    }
    .type {
      font-size: 13px;
    }
    a {
      svg {
        margin-left: 20px;
      }
    }
  }

}

#homePageModal {
  &.fullwidth {
    max-width: 98vw;
    overflow: hidden;
  }

  .audioPreview {
    height: 80px;
  }

  .modal-content {
    background-color: $dark-blue;
    border: none;
    border-radius: 0;
    overflow: hidden;

    height: calc(100vh - (0.5rem * 2));
    @media (min-width: 576px) {
      height: calc(100vh - (1.75rem * 2));
    }

    .header {
      background: $dark-blue;
      padding: 15px 15px;

      a.gray {
        color: $soft-gray;
        font-family: 'Roboto Mono', sans-serif;
        font-size: 14px;
        opacity: .5;
        &.openButton {
          line-height: 1.2;
          display: inline-block;
          margin-right: 10px;
          font-size: 17px;
        }

        &:hover {
          opacity: 1;
        }
      }

      .closeButton, .openButton {
        cursor: pointer;
      }
    }

    .info {
      overflow-y: scroll;
      height: 100%;
      overflow-x: hidden;
      padding: 0 15px;

      .file {
        flex: 1 0;
        overflow: hidden;
        .background {
          filter: blur(6px);
          z-index: -1;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
        }

        .video {
          z-index: 0;
          position: relative;
          .player {
            width: auto !important;
            height: 100% !important;
          }
        }
        .image {
          z-index: 0;
          height: 100%;
          img {
            max-height: 100%;
            z-index: 1;
          }
        }
      }

    }

    .body {
      padding: 15px 15px;
      font-family: 'Roboto Mono', sans-serif;

      .tags {
        color: $soft-blue;
      }
    }
  }
}
