#specialMenu {
    padding: 15px;
    width: 100%;
    height: 100%;
  .list{
    display:flex;
    flex-direction:column;
    width: 100%;
  }

  .current{
    order:-1;
    color: #7E7E7E;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.3;
  }  
  .related{
    order:1;
    font-size: 14px;
    display: block;

    a:hover .collection_icon {
      fill: #9746de;    
    } 
  }
} 
