.searchresult {
  font-family: Amare Alta, sans-serif;
  line-height: 120%;
  letter-spacing: -1%;
  color: #142636 !important;
  &-headline {
    font-size: 24px;
  }
}

.story {
  min-height: calc(100vh - 91px);
  // height: 100%;

  font-family: "Minion Pro", serif;
  background: white;
  color: #142636;
  line-height: 120%;
  font-size: 22.5px;

  &--dark-theme {
    color: white;
    background: #142636;
  }

  &--rainbow-theme {
    /* OA gradient */
    // background: linear-gradient(153.16deg, #50E2C1 5.91%, #9039FE 52.99%, #0076FF 104.16%)
    background: linear-gradient(
      153.16deg,
      rgba(80, 226, 193, 0.26) 5.91%,
      rgba(144, 57, 254, 0.26) 52.99%,
      rgba(0, 118, 255, 0.26) 104.16%
    );
    mix-blend-mode: normal;
  }

  & a {
    color: inherit !important;
    font-weight: bold;
  }

  &-spinner-wrapper {
    display: flex;
    justify-content: center;
    padding: 25rem 0;
    width: 100%;

    &--compact {
      padding: 2rem 0;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-family: Amare Alta, "sans-serif";
    & .btn.btn-secondary {
      padding: 0;
      color: inherit;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background: green;
    }
  }

  &-breadcrumb {
    @extend .searchresult;
    color: inherit !important;
    font-size: 17px;
    padding: 1rem;
    & > span {
      margin-right: 0.75rem;
      text-transform: uppercase;
    }
  }
  &-content {
    padding: 6rem 2rem;
    font-family: "Minion Pro", serif;
    max-width: 45rem;
    margin: 0 auto;
    font-size: 23px;
    & iframe {
      display: block;
      border: 0;
      margin: 4rem auto;
    }
    & h1 {
      color: inherit;
      background: none;
      font-family: "Minion Pro", serif;
      margin-bottom: 4rem;
      font-size: 34px;
      font-weight: bold;
    }

    & h2 {
      color: inherit;
      background: none;
      font-family: "Minion Pro", serif;
      margin-bottom: 1rem;
      margin-top: 4rem;
      font-size: 26px;
      font-weight: bold;
    }

    & p {
      margin-bottom: 1rem;
    }

    & .footnote_index_arrow {
      display: none;
    }

    & .footnotes_plugin_reference_row {
      & a {
        color: inherit;
      }
    }
  }
}

.stories {
  // extract to class
  font-family: Amare Alta, sans-serif;
  font-size: 17px;
  color: #142636;
  // remove menubar buffer
  background: white;
  display: flex;
  flex-direction: column;
  // height: calc(100vh - 91px);
  overflow-y: hidden;

  &-hero {
    height: 60vh;
    flex-shrink: 0;
    background: radial-gradient(
      74.17% 94.15% at 25.83% 69.37%,
      #0076ff 0%,
      #9039fe 51.56%,
      #7b71ea 64.58%,
      #50e2c1 100%
    );
    mix-blend-mode: normal;
  }

  &-headline {
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &__wrapper {
    display: flex;
    height: 100%;
  }

  &__searches {
    width: 35%;
    padding: 0 4rem;

    & input[type="text"],
    .autocomplete {
      width: 100%;
      border: 1px solid black;
      color: inherit;
      outline: none;
      padding: 2px 8px;
      margin-bottom: 8px;

      & a {
        color: inherit;
      }

      & .nav-link {
        padding: 0;
      }
    }

    & .radio-wrapper {
      display: flex;
      align-items: baseline;
      & input {
        margin-right: 6px;
      }
      & label {
        margin-bottom: 0;
      }

      & .nav-link {
        margin-left: 8px;
        padding: 0;
        color: inherit;
      }
    }
  }

  &__list {
    margin-left: auto;
    width: 65%;
    padding: 0 4rem;
  }

  &__header {
    display: flex;
    align-items: center;
    height: 8rem;
  }

  & .categories-wrapper {
    display: flex;
    flex-wrap: wrap;
    & .category-tag {
      margin-right: 4px;
      margin-bottom: 4px;
      padding: 0 0.5rem;
      border: 1px solid rgba(0, 0, 0, 0.4);
      & :first-child {
        margin-right: 0.5rem;
      }

      & :last-child {
        cursor: pointer;
      }
    }
  }
}

.stories-item {
  font-family: Amare Medium, sans-serif;
  font-size: 17px;
  margin-bottom: 6rem;
  max-width: 50rem;

  &-content {
    display: flex;
    color: #142636 !important;
    &__texts {
      padding-right: 2rem;
    }

    &__image {
      // width: 10rem;
      // height: 10rem;
      // flex-shrink: 0;
      // overflow: hidden;
    }
  }

  &-meta {
    margin-top: 2rem;
  }

  &-link {
    cursor: pointer;
    text-decoration: underline;
  }

  &__body {
    font-size: 19px;
    line-height: 1.2;
  }

  &__title {
    @extend .searchresult;
    @extend .searchresult-headline;
    display: inline-block;
    border: 1px solid black;
    padding: 0.15rem 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__author {
    text-decoration: underline;
  }
}

.mask {
  mask: url(/blob/01A.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
}
