.stories-item {
  margin-bottom: 6rem;
  max-width: 40rem;

  &-meta {
    margin-top: 2rem;
  }
  
  &-link {
    text-decoration: underline;
  }

  &__title {
    font-weight: bold;
    font-family: sans-serif;
    display: inline-block;
    border: 1px solid black;
    padding: 0.5rem;
  }

  &__author {
    text-decoration: underline;
  }
}
