.searchresult {
  font-family: Amare Alta, sans-serif;
  line-height: 120%;
  letter-spacing: -1%;

  &-headline {
    font-size: 24px;
  }
}

.story {
  max-width: 65rem;
  margin: 0 auto;
  font-family: "Minion Pro", sans-serif;
}

.stories {
  // extract to class
  font-family: Amare Alta, sans-serif;
  font-size: 17px;
  color: #142636;
 // remove menubar buffer
  background: white;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 91px);
  overflow-y: hidden;
  
  &__wrapper {
    display: flex;
    height: 100%;
  }

  &__searches {
    width: 35%;
    padding: 0 4rem;
  }

  &__list {
    width: 65%;
    overflow-y: scroll;
    padding: 0 4rem;
  }

  &__header {
    display: flex;
    align-items: center;
    height: 8rem;
  }
}

.stories-item {
  font-family: Amare Medium, sans-serif;
  font-size: 17px;
  margin-bottom: 6rem;
  max-width: 50rem; 
  &-content {
    display: flex;

    &__texts {
      padding-right: 2rem;
    }

    &__image {
      width: 10rem;
      height: 10rem;
      flex-shrink: 0;
      border-radius: 100%;
      overflow: hidden;
  
      & > img {
        width: 100%;
      }
    }

  }



  &-meta {
    margin-top: 2rem;
    
  }

  &-link {
    color: black !important;
    text-decoration: underline;
  }

  &__body {
    font-size: 19px;
    line-height: 1.2;
  }

  &__title {
    font-family: Amare Alta, sans-serif;
    display: inline-block;
    border: 1px solid black;
    padding: 0.15rem 0.5rem;
    font-size: 24px;
    color: black !important;
  }

  &__author {
    text-decoration: underline; 
  }
}
