.story {
    max-width: 65rem;
    margin: 0 auto;
}

.stories {
    // remove menubar buffer
    display: flex;
    flex-direction: column;
    height: calc(100vh - 91px);
    overflow-y: hidden;
    &__wrapper {
        display: flex;
        height: 100%;
    }
    
    &__searches {
        width: 35%;
        padding: 0 4rem;
    }

    &__list {
        width: 65%;
        overflow-y: scroll;
        padding: 0 4rem;
    }

    &__header {
        display: flex;
        align-items: center;
        height: 8rem;
    }
}

.stories-item {
    margin-bottom: 6rem;
    max-width: 40rem;
  
    &-meta {
      margin-top: 2rem;
    }
  
    &-link {
      text-decoration: underline;
    }
  
    &__title {
      font-weight: bold;
      font-family: sans-serif;
      display: inline-block;
      border: 1px solid black;
      padding: 0.5rem;
    }
  
    &__author {
      text-decoration: underline;
    }
  }