.tableModal {
  &.fullwidth {
    max-width: 100%;
    margin: 0;
    height: 100%;
    display: flex;
    flex: 1 0 100%;

    .modal-body {
      overflow: scroll;
    }
  }
  .fade {
    height: 0;
  }
}
