@import '../../../base/variables';

.modal {
  overflow: hidden;
}

.modal-dialog {
  color: #000;
  &.fullwidth {
    @media (min-width: 720px) {
      max-width: calc(100% - 30px);
    }

    display: flex;
    flex: 1 0 100%;

    .modal-body, .modal-content {
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  form {
    input, textarea {
      &.form-control {
        border: 1px solid hsl(0,0%,80%);
      }
    }
  }

  &.blue {
    .modal-content {
      background-color: $dark-blue;
      border: none;
      border-radius: 0;

      .header {
        background: $dark-blue;
        color: #fff;
        padding: 15px;
        margin: 0;

        a.gray {
          color: $soft-gray;
          font-family: 'Roboto Mono', sans-serif;
          font-size: 14px;
          opacity: .5;
          &.openButton {
            line-height: 1.2;
            display: inline-block;
            margin-right: 10px;
            font-size: 17px;
          }

          &:hover {
            opacity: 1;
          }
        }

        .closeButton, .openButton {
          cursor: pointer;
        }
      }
    }
  }
}
