@import '../../../base/variables';

#profile {
  color: white;
  min-height: 100vh;
  background-color: $dark-blue;

  .sticky {
    position: sticky;
    top: 20px;
  }

  .select {
    color: $dark-gray
  }

  h1 {
    font-size: 40px;
  }

  .left {
    img {
      max-width: 37%;
      z-index: 1;
    }
  }

  .right {
    padding: 15px 15px 0;
    max-width: 40%;

    .detailsRow {
      margin-right: -150px;
      .details {
        border-color: .5px $subline-gray !important;
        padding: 15px;
        &:first-child {
          padding-top: 15px;
        }
        &:last-child {
          padding-bottom: 15px;
        }
      }
    }

  }
}
