@keyframes animation_spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*
  Marquee
 */
@-moz-keyframes marquee {
  0%   { -moz-transform: translateX(100vw); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes marquee {
  0%   { -webkit-transform: translateX(100vw); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes marquee {
  0%   {
    -moz-transform: translateX(100vw); /* Firefox bug fix */
    -webkit-transform: translateX(100vw); /* Firefox bug fix */
    transform: translateX(100vw);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}
