@import "../base/variables";

.share {
  padding: 20px 0 20px 0;
  @media screen and (min-width: 768px) {
    padding: 40px 0 40px 0;
  }
  button {
    cursor: pointer;
    background: none;
    color: $subline-gray;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
