@import "../base/variables";

.share {
  color: $mid-gray;
  &.share--gray {
    color: $mid-gray;
  }
  &.share--dark-gray {
    color: $dark-gray;
  }
  button {
    text-align: right;
    cursor: pointer;
    color: inherit;
    background: none;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
