.itemEditor, .collectionEditor {
  position: relative;
  color: #000;

  input, textarea{
    &.form-control {
      border: 1px solid hsl(0,0%,80%);
    }
  }
}

.collectionEditor {
  .itemDetails {

    margin-top: 50px;
    .creators {
      word-break: break-word;
      &:hover {
        cursor: pointer
      }
    }
    .title {
      &:hover {
        cursor: pointer
      }
    }
    .status {
      &:hover {
        cursor: pointer
      }
    }
    .removeButton {
      margin-right: 0;
    }
    .itemIcons {
      &:hover {
        cursor: pointer
      }
    }
  }
}