.itemEditor, .collectionEditor {
  position: relative;
  color: #000;

  input, textarea{
    &.form-control {
      border: 1px solid hsl(0,0%,80%);
    }
  }
}

.collectionEditor {
  .itemDetails {
    border-bottom: 1px solid darkgrey;
    margin-top: 10px;
    .creators {
      margin-top: 20px;
      word-break: break-word;
      &:hover {
        cursor: pointer
      }
    }
    .title {
      margin-top: 20px;
      &:hover {
        cursor: pointer
      }
    }
    .status {
      padding-left: 25px;
      margin-top: 20px;
      &:hover {
        cursor: pointer
      }
    }
    .removeButton {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .itemIcons {
      margin-top: 20px;

      &:hover {
        cursor: pointer
      }
    }
  }
}