.itemEditor {
  position: relative;
  //color: #fff;
  width: 100%;
  .collapse {
    width: 100%;
  }
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    z-index: 0;
    transition: opacity 1s ease-in;

    &.show {
      z-index: 99;
      opacity: 1;
    }
  }
  .accessDenied {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
    opacity: 0;
    z-index: 0;
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: 0;
  }

  button.btn.location {
    svg {
      margin-top: -5px
    }
  }
}
