.itemEditor {
  position: relative;
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    z-index: 0;
    transition: opacity 1s ease-in;

    &.show {
      z-index: 99;
      opacity: 1;
    }
  }

  input {
    &.form-control {
      border: 1px solid hsl(0,0%,80%);
    }
  }

}
