@import '../../base/variables';

.itemDetailsAdd {
  margin-bottom: 20px;

  &:hover {
    cursor: pointer
  }
  .creators {
    word-break: break-word;
    margin-top: 20px;

  }
  .title {
    margin-top: 20px;

  }
  .status {
    padding-left: 25px;
    margin-top: 20px;

  }
  .removeButton {
  }
  .itemIcons {

  }
}

.itemDetails {
  .collapse {
    width: 100%
  }
  border-top: 1px solid $subline-gray;
  &:hover {
    cursor: pointer
  }
  .creators {
    margin-top: 20px;
    word-break: break-word;

  }
  .title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .status {
    padding-left: 40px;
    margin-top: 20px;
  }
  .removeButton {

  }
  .itemIcons {
    margin-top: 20px;
    padding-left: 20px;
  }
}
.itemDetails:last-child {
  border-bottom: 1px solid $subline-gray;

}