@import "../../base/variables";

.mapWrapper {
  flex: 100%;
  height: calc(100vh - 250px);
  position: relative;
  z-index: 1;

  .zoomInBuddy {
    div {
      opacity: 0;
      z-index: 0;

      &.show {
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        z-index: 400;
        position: absolute;
        top: 20px;
        right: 20px;
        &.op {
          opacity: 1;
        }
      }
    }
  }

  .leaflet-marker-icon {
    &.leaflet-div-icon {
      background: none !important;
      border: none !important;
    }
  }
}
