@import '../../base/variables';

#item {
  color: $soft-gray;
  background-color: $dark-blue;

  h1 {
    font-size: 40px;
  }

  .file {
    flex: 1 0;
    overflow: hidden;
    .background {
      filter: blur(6px);
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

    .pdf {
      height: 50vh;
      @media (min-width: 540px) {
        height: 50vw;
      }
      @media (min-width: 760px) {
        height: 50vh;
      }
    }

    .video {
      z-index: 0;
      position: relative;
      .player {
        width: auto !important;
        height: 50vh !important;
      }
    }
    .image {
      @media (min-width: 800px) and (max-height: 1300px) {
        height: 70vh;
      }
      z-index: 0;
      img {
        max-height: 100%;
        z-index: 1;
      }
    }
  }

  .subline {
    color: $subline-gray;
    font-size: 14px;
  }

  .left {
    border-color: $item-details-border !important;
    padding: 15px 15px 100px;

    .creators {
      font-size: 21px
    }

    .description {
      white-space: pre-wrap;
      word-break: break-all;
    }
  }

  .right {
    padding: 15px 15px 0;
    .details {
      border-color: $item-details-border !important;
      padding: 15px;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
