@import '../../base/variables';

#item {
  color: $soft-gray;
  min-height: 100vh;
  background-color: $dark-blue;

  h1 {
    font-size: 40px;
  }

  .image {
    overflow: hidden;
    z-index: 0;
    img {
      width: 100vh;
    }
    .background {
      filter: blur(6px);
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }

  .subline {
    color: $subline-gray;
    font-size: 14px;
  }

  .left {
    border-color: $item-details-border !important;
    padding: 15px 15px 100px;

    .creators {
      font-size: 21px
    }

    .description {
      white-space: pre-wrap;
    }
  }

  .right {
    padding: 15px 15px 0;
    .details {
      border-color: $item-details-border !important;
      padding: 15px;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
