@import "../../base/variables";

#profile {
  color: $soft-gray;
  min-height: 100vh;
  background-color: $dark-blue;

  h1 {
    font-size: 40px;
  }

  .left {
    img {
      z-index: 1;
    }
  }

  .details {
    div {
      display: flex;
      box-sizing: border-box;
      border: 0.1px $subline-gray solid !important;
      padding: 15px;
    }
    a {
      color: $subline-gray;
      :hover {
        color: $soft-gray;
      }
    }
  }

  .biography-section {
    display: inline-grid;
    .profession {
      align-self: flex-end;
    }
  }
}
