@import 'variables';

#body {
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;

  #content {
    padding-bottom: 100px
  }
}

a, .btn-link {
  color: $dark-green;
  transition: color 0.5s;
  text-decoration: none;
  &:visited {
    color: $dark-green;
  }
  &:hover, &:focus {
    text-decoration: none;
    color: #9746de;
  }
}

.main {
  min-height: 100vh;
  &.pb {
    padding-bottom: 100px;
  }
  &.blue {
    background-color: $dark-blue;

    &.container-fluid {
      padding: 0;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.overlay_fixed_middle {
  z-index: 9999;
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);

  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .spinner-grow {
      color: #fff;
      height: 90px;
      width: 90px;
    }
  }
}
