$header_height: 56px;


// COLOURS

// GREENS
$dark-green: #3FB39A;


// GRAYS
$soft-gray: #EEEEEE; // main bg gray
$mid-gray: #DDDDDD; // input focus background
$subline-gray: #7E7E7E; // input focus background

$item-details-border: #787878; // input focus background


// REDS
$input-error: #EF5D60;


// BLUES
$dark-blue: #142636;
$soft-blue: #D2D7DC;
