$header_height: 56px;

// COLOURS

// GREENS
$dark-green: #3fb39a;

// GRAYS
$soft-gray: #eeeeee; // main bg gray
$mid-gray: #dddddd; // input focus background
$dark-gray: #495057;
$subline-gray: #7e7e7e;

$item-details-border: #787878; // input focus background

// REDS
$input-error: #ef5d60;

// BLUES
$dark-blue: #142636;
$soft-blue: #d2d7dc;

// FOCUS COLOURS
$focus_arts: #0076ff;
$focus_scitech: #9013fe;
$focus_action: #50e3c2;
