$header_height: 56px;


// COLOURS
$dark-blue: #142636;


// GREENS
$dark-green: #3FB39A;


// GRAYS
$soft-gray: #EEEEEE; // main bg gray
$mid-gray: #DDDDDD; // input focus background


// REDS
$input-error: #EF5D60;
